<div>
  <h2 id="page-heading" data-cy="DeliveryItemProductHeading">
    <span jhiTranslate="wmsApp.deliveryItemProduct.home.title">Delivery Item Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wmsApp.deliveryItemProduct.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery-item-product"
        [routerLink]="['/delivery-item-product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wmsApp.deliveryItemProduct.home.createLabel"> Create a new Delivery Item Product </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deliveryItemProducts?.length === 0">
    <span jhiTranslate="wmsApp.deliveryItemProduct.home.notFound">No deliveryItemProducts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="deliveryItemProducts && deliveryItemProducts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rfidTAG">
            <span jhiTranslate="wmsApp.deliveryItemProduct.rfidTAG">Rfid TAG</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deliveryContainer.id">
            <span jhiTranslate="wmsApp.deliveryItemProduct.deliveryContainer">Delivery Container</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let deliveryItemProduct of deliveryItemProducts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/delivery-item-product', deliveryItemProduct.id, 'view']">{{ deliveryItemProduct.id }}</a>
          </td>
          <td>{{ deliveryItemProduct.rfidTAG }}</td>
          <td>
            <div *ngIf="deliveryItemProduct.deliveryContainer">
              <a [routerLink]="['/delivery-container', deliveryItemProduct.deliveryContainer?.id, 'view']">{{
                deliveryItemProduct.deliveryContainer?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/delivery-item-product', deliveryItemProduct.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/delivery-item-product', deliveryItemProduct.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(deliveryItemProduct)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
