<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="orderItemProduct">
      <h2 data-cy="orderItemProductDetailsHeading"><span jhiTranslate="wmsApp.orderItemProduct.detail.title">Order Item Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderItemProduct.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.orderItemProduct.rfidTAG">Rfid TAG</span></dt>
        <dd>
          <span>{{ orderItemProduct.rfidTAG }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.orderItemProduct.orderContainer">Order Container</span></dt>
        <dd>
          <div *ngIf="orderItemProduct.orderContainer">
            <a [routerLink]="['/order-container', orderItemProduct.orderContainer?.id, 'view']">{{
              orderItemProduct.orderContainer?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order-item-product', orderItemProduct.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
