<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="orderContainer">
      <h2 data-cy="orderContainerDetailsHeading"><span jhiTranslate="wmsApp.orderContainer.detail.title">Order Container</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderContainer.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.orderContainer.supplierRFIDTag">Supplier RFID Tag</span></dt>
        <dd>
          <span>{{ orderContainer.supplierRFIDTag }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.orderContainer.companyContainer">Company Container</span></dt>
        <dd>
          <div *ngIf="orderContainer.companyContainer">
            <a [routerLink]="['/company-container', orderContainer.companyContainer?.id, 'view']">{{
              orderContainer.companyContainer?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="wmsApp.orderContainer.orderItem">Order Item</span></dt>
        <dd>
          <div *ngIf="orderContainer.orderItem">
            <a [routerLink]="['/order-item', orderContainer.orderItem?.id, 'view']">{{ orderContainer.orderItem?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order-container', orderContainer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
