<div>
  <h2 id="page-heading" data-cy="CompanyProductHeading">
    <span jhiTranslate="wmsApp.companyProduct.home.title">Company Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wmsApp.companyProduct.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company-product"
        [routerLink]="['/company-product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wmsApp.companyProduct.home.createLabel"> Create a new Company Product </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="companyProducts?.length === 0">
    <span jhiTranslate="wmsApp.companyProduct.home.notFound">No companyProducts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="companyProducts && companyProducts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity">
            <span jhiTranslate="wmsApp.companyProduct.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sku"><span jhiTranslate="wmsApp.companyProduct.sku">Sku</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stockingRatio">
            <span jhiTranslate="wmsApp.companyProduct.stockingRatio">Stocking Ratio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="container.name">
            <span jhiTranslate="wmsApp.companyProduct.container">Container</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="company.name">
            <span jhiTranslate="wmsApp.companyProduct.company">Company</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.name">
            <span jhiTranslate="wmsApp.companyProduct.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let companyProduct of companyProducts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/company-product', companyProduct.id, 'view']">{{ companyProduct.id }}</a>
          </td>
          <td>{{ companyProduct.quantity }}</td>
          <td>{{ companyProduct.sku }}</td>
          <td>{{ companyProduct.stockingRatio }}</td>
          <td>
            <div *ngIf="companyProduct.container">
              <a [routerLink]="['/container', companyProduct.container?.id, 'view']">{{ companyProduct.container?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="companyProduct.company">
              <a [routerLink]="['/company', companyProduct.company?.id, 'view']">{{ companyProduct.company?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="companyProduct.product">
              <a [routerLink]="['/product', companyProduct.product?.id, 'view']">{{ companyProduct.product?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/company-product', companyProduct.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/company-product', companyProduct.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(companyProduct)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
