<div>
  <h2 id="page-heading" data-cy="WarehouseHeading">
    <span jhiTranslate="wmsApp.warehouse.home.title">Warehouses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wmsApp.warehouse.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-warehouse"
        [routerLink]="['/warehouse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wmsApp.warehouse.home.createLabel"> Create a new Warehouse </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="warehouses?.length === 0">
    <span jhiTranslate="wmsApp.warehouse.home.notFound">No warehouses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="warehouses && warehouses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="wmsApp.warehouse.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="note"><span jhiTranslate="wmsApp.warehouse.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="phone"><span jhiTranslate="wmsApp.warehouse.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="contactPerson">
            <span jhiTranslate="wmsApp.warehouse.contactPerson">Contact Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="company.name">
            <span jhiTranslate="wmsApp.warehouse.company">Company</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let warehouse of warehouses; trackBy: trackId" data-cy="entityTable"
          [routerLink]="['/mgmt/warehouse', warehouse.id]">
          <td>
            <a [routerLink]="['/warehouse', warehouse.id, 'view']">{{ warehouse.id }}</a>
          </td>
          <td>{{ warehouse.name }}</td>
          <td>{{ warehouse.note }}</td>
          <td>{{ warehouse.phone }}</td>
          <td>{{ warehouse.contactPerson }}</td>
          <td>
            <div *ngIf="warehouse.company">
              <a [routerLink]="['/company', warehouse.company?.id, 'view']">{{ warehouse.company?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/warehouse', warehouse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/warehouse', warehouse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(warehouse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
