<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="deliveryOrderItem">
      <h2 data-cy="deliveryOrderItemDetailsHeading">
        <span jhiTranslate="wmsApp.deliveryOrderItem.detail.title">Delivery Order Item</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ deliveryOrderItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrderItem.unitQuantity">Unit Quantity</span></dt>
        <dd>
          <span>{{ deliveryOrderItem.unitQuantity }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrderItem.containerQuantity">Container Quantity</span></dt>
        <dd>
          <span>{{ deliveryOrderItem.containerQuantity }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrderItem.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'wmsApp.DeliveryOrderItemStatus.' + deliveryOrderItem.status }}">{{ deliveryOrderItem.status }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrderItem.compganyProduct">Compgany Product</span></dt>
        <dd>
          <div *ngIf="deliveryOrderItem.compganyProduct">
            <a [routerLink]="['/company-product', deliveryOrderItem.compganyProduct?.id, 'view']">{{
              deliveryOrderItem.compganyProduct?.sku
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrderItem.deliveryOrder">Delivery Order</span></dt>
        <dd>
          <div *ngIf="deliveryOrderItem.deliveryOrder">
            <a [routerLink]="['/delivery-order', deliveryOrderItem.deliveryOrder?.id, 'view']">{{
              deliveryOrderItem.deliveryOrder?.doNumber
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/delivery-order-item', deliveryOrderItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
