<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-door-antenna-heading" data-cy="DoorAntennaCreateUpdateHeading" jhiTranslate="wmsApp.doorAntenna.home.createOrEditLabel">
        Create or edit a Door Antenna
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.doorAntenna.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'wmsApp.DoorAntennaType.null' | translate }}</option>
            <option *ngFor="let doorAntennaType of doorAntennaTypeValues" [value]="doorAntennaType">
              {{ 'wmsApp.DoorAntennaType.' + doorAntennaType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.doorAntenna.door" for="field_door">Door</label>
          <select class="form-control" id="field_door" data-cy="door" name="door" formControlName="door">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="doorOption.id === editForm.get('door')!.value?.id ? editForm.get('door')!.value : doorOption"
              *ngFor="let doorOption of doorsSharedCollection; trackBy: trackDoorById"
            >
              {{ doorOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.doorAntenna.uhfAntenna" for="field_uhfAntenna">Uhf Antenna</label>
          <select class="form-control" id="field_uhfAntenna" data-cy="uhfAntenna" name="uhfAntenna" formControlName="uhfAntenna">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                uHFRFIDAntennaOption.id === editForm.get('uhfAntenna')!.value?.id ? editForm.get('uhfAntenna')!.value : uHFRFIDAntennaOption
              "
              *ngFor="let uHFRFIDAntennaOption of uHFRFIDAntennasSharedCollection; trackBy: trackUHFRFIDAntennaById"
            >
              {{ uHFRFIDAntennaOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
