<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="wmsApp.order.detail.title">Order detail</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details" *ngIf="!editMode">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.transactionNumber">Do Number</span></dt>
        <dd>
          <span>{{ order.transactionNumber }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.placedDate">Placed Date</span></dt>
        <dd>
          <span>{{ order.placedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'wmsApp.OrderStatus.' + order.status }}">{{ order.status }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.code">Code</span></dt>
        <dd>
          <span>{{ order.code }}</span>
        </dd>
      </dl>

      <div class="row justify-content-center" *ngIf="editMode">
        <div class="col-8">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
           
            <div>
      
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="wmsApp.order.transactionNumber" for="field_transactionNumber"
                  >Transaction Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="transactionNumber"
                  id="field_transactionNumber"
                  data-cy="transactionNumber"
                  formControlName="transactionNumber"
                />
                <div
                  *ngIf="
                    editForm.get('transactionNumber')!.invalid &&
                    (editForm.get('transactionNumber')!.dirty || editForm.get('transactionNumber')!.touched)
                  "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('transactionNumber')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
      
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="wmsApp.order.placedDate" for="field_placedDate">Placed Date</label>
                <div class="d-flex">
                  <input
                    id="field_placedDate"
                    data-cy="placedDate"
                    type="datetime-local"
                    class="form-control"
                    name="placedDate"
                    formControlName="placedDate"
                    placeholder="YYYY-MM-DD HH:mm"
                  />
                </div>
                <div *ngIf="editForm.get('placedDate')!.invalid && (editForm.get('placedDate')!.dirty || editForm.get('placedDate')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('placedDate')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                  <small
                    class="form-text text-danger"
                    [hidden]="!editForm.get('placedDate')?.errors?.ZonedDateTimelocal"
                    jhiTranslate="entity.validation.ZonedDateTimelocal"
                  >
                    This field should be a date and time.
                  </small>
                </div>
              </div>
      
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="wmsApp.order.status" for="field_status">Status</label>
                <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
                  <option [ngValue]="null">{{ 'wmsApp.OrderStatus.null' | translate }}</option>
                  <option *ngFor="let orderStatus of orderStatusValues" [value]="orderStatus">
                    {{ 'wmsApp.OrderStatus.' + orderStatus | translate }}
                  </option>
                </select>
                <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                  </small>
                </div>
              </div>
      
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="wmsApp.order.code" for="field_code">Code</label>
                <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
                <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                  </small>
                </div>
              </div>
      
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="wmsApp.order.type" for="field_type">Type</label>
                <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
                  <option [ngValue]="null">{{ 'wmsApp.OrderType.null' | translate }}</option>
                  <option *ngFor="let orderType of orderTypeValues" [value]="orderType">{{ 'wmsApp.OrderType.' + orderType | translate }}</option>
                </select>
                <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                  </small>
                </div>
              </div>
            </div>
      
            <div>
              <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="cancelEdit()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
      
              <button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid || isSaving"
                class="btn btn-primary"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" class="btn btn-primary"
        (click)="startEdit()" *ngIf="!editMode">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
      
      <div class="col-6">
        <jhi-reception-items [order]="order"></jhi-reception-items>
      </div>
    </div>
  </div>
</div>
