<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="wHRow">
      <h2 data-cy="wHRowDetailsHeading"><span jhiTranslate="wmsApp.wHRow.detail.title">WH Row</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ wHRow.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.wHRow.name">Name</span></dt>
        <dd>
          <span>{{ wHRow.name }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.wHRow.note">Note</span></dt>
        <dd>
          <span>{{ wHRow.note }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.wHRow.location">Location</span></dt>
        <dd>
          <div *ngIf="wHRow.location">
            <a [routerLink]="['/location', wHRow.location?.id, 'view']">{{ wHRow.location?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/wh-row', wHRow.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
