<div>
  <h2 id="page-heading" data-cy="UHFRFIDReaderHeading">
    <span jhiTranslate="wmsApp.uHFRFIDReader.home.title">UHFRFID Readers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wmsApp.uHFRFIDReader.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-uhfrfid-reader"
        [routerLink]="['/uhfrfid-reader/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wmsApp.uHFRFIDReader.home.createLabel"> Create a new UHFRFID Reader </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="uHFRFIDReaders?.length === 0">
    <span jhiTranslate="wmsApp.uHFRFIDReader.home.notFound">No uHFRFIDReaders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="uHFRFIDReaders && uHFRFIDReaders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="wmsApp.uHFRFIDReader.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ip"><span jhiTranslate="wmsApp.uHFRFIDReader.ip">Ip</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="port"><span jhiTranslate="wmsApp.uHFRFIDReader.port">Port</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="wmsApp.uHFRFIDReader.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let uHFRFIDReader of uHFRFIDReaders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/uhfrfid-reader', uHFRFIDReader.id, 'view']">{{ uHFRFIDReader.id }}</a>
          </td>
          <td>{{ uHFRFIDReader.name }}</td>
          <td>{{ uHFRFIDReader.ip }}</td>
          <td>{{ uHFRFIDReader.port }}</td>
          <td jhiTranslate="{{ 'wmsApp.UHFRFIDReaderStatus.' + uHFRFIDReader.status }}">{{ uHFRFIDReader.status }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/uhfrfid-reader', uHFRFIDReader.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/uhfrfid-reader', uHFRFIDReader.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(uHFRFIDReader)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
