<div>
  <h2 id="page-heading" data-cy="DeliveryContainerHeading">
    <span jhiTranslate="wmsApp.deliveryContainer.home.title">Delivery Containers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wmsApp.deliveryContainer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery-container"
        [routerLink]="['/delivery-container/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wmsApp.deliveryContainer.home.createLabel"> Create a new Delivery Container </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deliveryContainers?.length === 0">
    <span jhiTranslate="wmsApp.deliveryContainer.home.notFound">No deliveryContainers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="deliveryContainers && deliveryContainers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="supplierRFIDTag">
            <span jhiTranslate="wmsApp.deliveryContainer.supplierRFIDTag">Supplier RFID Tag</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deliveryOrderItem.id">
            <span jhiTranslate="wmsApp.deliveryContainer.deliveryOrderItem">Delivery Order Item</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="companyContainer.id">
            <span jhiTranslate="wmsApp.deliveryContainer.companyContainer">Company Container</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let deliveryContainer of deliveryContainers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/delivery-container', deliveryContainer.id, 'view']">{{ deliveryContainer.id }}</a>
          </td>
          <td>{{ deliveryContainer.supplierRFIDTag }}</td>
          <td>
            <div *ngIf="deliveryContainer.deliveryOrderItem">
              <a [routerLink]="['/delivery-order-item', deliveryContainer.deliveryOrderItem?.id, 'view']">{{
                deliveryContainer.deliveryOrderItem?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="deliveryContainer.companyContainer">
              <a [routerLink]="['/company-container', deliveryContainer.companyContainer?.id, 'view']">{{
                deliveryContainer.companyContainer?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/delivery-container', deliveryContainer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/delivery-container', deliveryContainer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(deliveryContainer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
