<div>
  <h2 id="page-heading" data-cy="CompanyContainerHeading">
    <span jhiTranslate="wmsApp.companyContainer.home.title">Company Containers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wmsApp.companyContainer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company-container"
        [routerLink]="['/company-container/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wmsApp.companyContainer.home.createLabel"> Create a new Company Container </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="companyContainers?.length === 0">
    <span jhiTranslate="wmsApp.companyContainer.home.notFound">No companyContainers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="companyContainers && companyContainers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rfidTag">
            <span jhiTranslate="wmsApp.companyContainer.rfidTag">Rfid Tag</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="color">
            <span jhiTranslate="wmsApp.companyContainer.color">Color</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="company.name">
            <span jhiTranslate="wmsApp.companyContainer.company">Company</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="container.name">
            <span jhiTranslate="wmsApp.companyContainer.container">Container</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let companyContainer of companyContainers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/company-container', companyContainer.id, 'view']">{{ companyContainer.id }}</a>
          </td>
          <td>{{ companyContainer.rfidTag }}</td>
          <td>{{ companyContainer.color }}</td>
          <td>
            <div *ngIf="companyContainer.company">
              <a [routerLink]="['/company', companyContainer.company?.id, 'view']">{{ companyContainer.company?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="companyContainer.container">
              <a [routerLink]="['/container', companyContainer.container?.id, 'view']">{{ companyContainer.container?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/company-container', companyContainer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/company-container', companyContainer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(companyContainer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
