<div>
  <h2 id="page-heading" data-cy="WHRowHeading">
    <span jhiTranslate="wmsApp.wHRow.home.title">WH Rows</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wmsApp.wHRow.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wh-row"
        [routerLink]="['/wh-row/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wmsApp.wHRow.home.createLabel"> Create a new WH Row </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wHRows?.length === 0">
    <span jhiTranslate="wmsApp.wHRow.home.notFound">No wHRows found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wHRows && wHRows.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="wmsApp.wHRow.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="note"><span jhiTranslate="wmsApp.wHRow.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="location.name">
            <span jhiTranslate="wmsApp.wHRow.location">Location</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let wHRow of wHRows; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wh-row', wHRow.id, 'view']">{{ wHRow.id }}</a>
          </td>
          <td>{{ wHRow.name }}</td>
          <td>{{ wHRow.note }}</td>
          <td>
            <div *ngIf="wHRow.location">
              <a [routerLink]="['/location', wHRow.location?.id, 'view']">{{ wHRow.location?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/wh-row', wHRow.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/wh-row', wHRow.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wHRow)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
