<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="area">
      <h2 data-cy="areaDetailsHeading"><span jhiTranslate="wmsApp.area.detail.title">Area</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ area.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.area.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'wmsApp.AreaType.' + area.type }}">{{ area.type }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.area.warehouse">Warehouse</span></dt>
        <dd>
          <div *ngIf="area.warehouse">
            <a [routerLink]="['/warehouse', area.warehouse?.id, 'view']">{{ area.warehouse?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/area', area.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
