<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-delivery-container-heading"
        data-cy="DeliveryContainerCreateUpdateHeading"
        jhiTranslate="wmsApp.deliveryContainer.home.createOrEditLabel"
      >
        Create or edit a Delivery Container
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.deliveryContainer.supplierRFIDTag" for="field_supplierRFIDTag"
            >Supplier RFID Tag</label
          >
          <input
            type="text"
            class="form-control"
            name="supplierRFIDTag"
            id="field_supplierRFIDTag"
            data-cy="supplierRFIDTag"
            formControlName="supplierRFIDTag"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.deliveryContainer.deliveryOrderItem" for="field_deliveryOrderItem"
            >Delivery Order Item</label
          >
          <select
            class="form-control"
            id="field_deliveryOrderItem"
            data-cy="deliveryOrderItem"
            name="deliveryOrderItem"
            formControlName="deliveryOrderItem"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                deliveryOrderItemOption.id === editForm.get('deliveryOrderItem')!.value?.id
                  ? editForm.get('deliveryOrderItem')!.value
                  : deliveryOrderItemOption
              "
              *ngFor="let deliveryOrderItemOption of deliveryOrderItemsSharedCollection; trackBy: trackDeliveryOrderItemById"
            >
              {{ deliveryOrderItemOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.deliveryContainer.companyContainer" for="field_companyContainer"
            >Company Container</label
          >
          <select
            class="form-control"
            id="field_companyContainer"
            data-cy="companyContainer"
            name="companyContainer"
            formControlName="companyContainer"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                companyContainerOption.id === editForm.get('companyContainer')!.value?.id
                  ? editForm.get('companyContainer')!.value
                  : companyContainerOption
              "
              *ngFor="let companyContainerOption of companyContainersSharedCollection; trackBy: trackCompanyContainerById"
            >
              {{ companyContainerOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
