<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="deliveryOrder">
      <h2 data-cy="deliveryOrderDetailsHeading"><span jhiTranslate="wmsApp.deliveryOrder.detail.title">Delivery Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ deliveryOrder.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrder.doNumber">Do Number</span></dt>
        <dd>
          <span>{{ deliveryOrder.doNumber }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrder.placedDate">Placed Date</span></dt>
        <dd>
          <span>{{ deliveryOrder.placedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrder.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'wmsApp.DeliveryOrderStatus.' + deliveryOrder.status }}">{{ deliveryOrder.status }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.deliveryOrder.code">Code</span></dt>
        <dd>
          <span>{{ deliveryOrder.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/delivery-order', deliveryOrder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>

      <jhi-reception-items [deliveryOrderItems]="deliveryOrder.deliveryOrderItems"></jhi-reception-items>
    </div>
  </div>
</div>
