<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="wmsApp.order.detail.title">Delivery Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.transactionNumber">Do Number</span></dt>
        <dd>
          <span>{{ order.transactionNumber }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.placedDate">Placed Date</span></dt>
        <dd>
          <span>{{ order.placedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'wmsApp.OrderStatus.' + order.status }}">{{ order.status }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.order.code">Code</span></dt>
        <dd>
          <span>{{ order.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>

      <jhi-reception-items [orderItems]="order.orderItems"></jhi-reception-items>
    </div>
  </div>
</div>
