<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-order-item-product-heading"
        data-cy="OrderItemProductCreateUpdateHeading"
        jhiTranslate="wmsApp.orderItemProduct.home.createOrEditLabel"
      >
        Create or edit a Order Item Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.orderItemProduct.rfidTAG" for="field_rfidTAG">Rfid TAG</label>
          <input type="text" class="form-control" name="rfidTAG" id="field_rfidTAG" data-cy="rfidTAG" formControlName="rfidTAG" />
          <div *ngIf="editForm.get('rfidTAG')!.invalid && (editForm.get('rfidTAG')!.dirty || editForm.get('rfidTAG')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rfidTAG')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.orderItemProduct.containerCategory" for="field_containerCategory"
            >Container Category</label
          >
          <select
            class="form-control"
            id="field_containerCategory"
            data-cy="containerCategory"
            name="containerCategory"
            formControlName="containerCategory"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                containerCategoryOption.id === editForm.get('containerCategory')!.value?.id
                  ? editForm.get('containerCategory')!.value
                  : containerCategoryOption
              "
              *ngFor="let containerCategoryOption of containerCategoriesSharedCollection; trackBy: trackContainerCategoryById"
            >
              {{ containerCategoryOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wmsApp.orderItemProduct.orderItem" for="field_orderItem">Order Item</label>
          <select class="form-control" id="field_orderItem" data-cy="orderItem" name="orderItem" formControlName="orderItem">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="orderItemOption.id === editForm.get('orderItem')!.value?.id ? editForm.get('orderItem')!.value : orderItemOption"
              *ngFor="let orderItemOption of orderItemsSharedCollection; trackBy: trackOrderItemById"
            >
              {{ orderItemOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
