<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="doorAntenna">
      <h2 data-cy="doorAntennaDetailsHeading"><span jhiTranslate="wmsApp.doorAntenna.detail.title">Door Antenna</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ doorAntenna.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.doorAntenna.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'wmsApp.DoorAntennaType.' + doorAntenna.type }}">{{ doorAntenna.type }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.doorAntenna.door">Door</span></dt>
        <dd>
          <div *ngIf="doorAntenna.door">
            <a [routerLink]="['/door', doorAntenna.door?.id, 'view']">{{ doorAntenna.door?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="wmsApp.doorAntenna.uhfRFIDAntenna">Uhf RFID Antenna</span></dt>
        <dd>
          <div *ngIf="doorAntenna.uhfRFIDAntenna">
            <a [routerLink]="['/uhfrfid-antenna', doorAntenna.uhfRFIDAntenna?.id, 'view']">{{ doorAntenna.uhfRFIDAntenna?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/door-antenna', doorAntenna.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
