<div *ngIf="orderItem">

  <div class="row m-2">
    <jhi-antenna-selector [type]="shippingAreaType"></jhi-antenna-selector>
  </div>

  <div class="row" *ngIf="remainsContainerToScan() > 0 && canEdit">
    <div class="col">
      <button class="btn btn-primary" (click)="scanContainer()" [disabled]="!rfidAntenna">
        <i class="bi bi-qr-code-scan"></i>&nbsp;Container
      </button>
    </div>

    <div class="col">
      <span>{{ remainsContainerToScan() }} containers remaining</span>
    </div>
  </div>

  <div class="text-center" *ngIf="remainsContainerToScan() == 0">
    <h4>You've scanned all containers</h4>
  </div>

  <div class="table-responsive" *ngIf="getOrderContainers().length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">container TAG</th>
          <th scope="col">packages scanned</th>
          <th scope="col" *ngIf="canEdit"></th>
        </tr>
      </thead>
      <tbody>
        <tr data-cy="entityTable" *ngFor="let container of getOrderContainers()">
          <td>{{ container.id }}</td>
          <td>{{ container.supplierRFIDTag }}</td>
          <td class="text-center">
            <jhi-scan-packages [container]="container"></jhi-scan-packages>
          </td>
          <td class="text-right" *ngIf="canEdit">
            <button type="submit" (click)="openEditDialog(container)" class="btn btn-danger btn-sm"
              data-toggle="tooltip" data-placement="top" title="Delete container {{ container.id }}">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
