<div *ngIf="orderItem">

  <div class="row">
    <jhi-door-antenna-selector></jhi-door-antenna-selector>
  </div>

  <div class="row" *ngIf="remainsContainerToScan() > 0">
    <div class="col">
      <button class="btn btn-primary" (click)="scanContainer()"><i class="bi bi-qr-code-scan"></i>&nbsp;Container</button>
    </div>

    <div class="col">
      <span>{{ remainsContainerToScan() }} containers remaining</span>
    </div>
  </div>

  <div class="text-center" *ngIf="remainsContainerToScan() == 0">
    <h4>You've scanned all containers</h4>
  </div>

  <div class="table-responsive" *ngIf="getOrderContainers().length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">container TAG</th>
          <th scope="col">packages scanned</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr data-cy="entityTable" *ngFor="let container of getOrderContainers()">
          <td>{{ container.supplierRFIDTag }}</td>
          <td class="text-center">
            <span *ngIf="container.orderItemProducts && container.orderItemProducts.length > 0">
              {{ container.orderItemProducts?.length }}
            </span>
            <div class="button-group" *ngIf="!container.orderItemProducts || container.orderItemProducts.length == 0">
              <button class="btn btn-sm btn-primary" (click)="scanPackages(container)">
                <i class="bi bi-qr-code-scan"></i>
              </button>
            </div>
          </td>
          <td class="text-right">
            <button type="submit" (click)="delete(container)" class="btn btn-danger btn-sm">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
