<div *ngIf="orderItem">

  <div class="row m-2">
    <jhi-antenna-selector [type]="shippingAreaType"></jhi-antenna-selector>
  </div>

  <div class="row" *ngIf="remainsContainerToScan() > 0 && canEdit()">
    <div class="col">
      <button class="btn btn-primary" (click)="scanContainer()"
        [disabled]="!rfidAntenna">
        <i class="bi bi-qr-code-scan"></i>&nbsp;Container
      </button>
    </div>
    
    <div class="col alert alert-warning">
      <span>{{ remainsContainerToScan() }} containers remaining</span>
    </div>
  </div>

  <div class="col alert alert-warning" *ngIf="remainsContainerToScan() < 0 && canEdit()">
    <p>Careful!! You've exceeded scanning..</p> 
    <p><b>{{ -remainsContainerToScan() }} unexpected </b> containers scanned</p>
  </div>

  <div class="col alert alert-success" *ngIf="remainsContainerToScan() == 0">
    <h4>You've scanned all containers</h4>
  </div>

  <div class="table-responsive" *ngIf="getOrderContainers().length > 0"
      [class.table-multiselect] = "multiSelect.isActive()">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead *ngIf="canDeleteSomeOrderContainers()">
        <tr>
          <th scope="col">Select multiple</th>
          <th scope="col">
            <input
              type="checkbox"
              [checked]="multiSelect.isActive()"
              (change)="multiSelect.onChangeActive()"/>
          </th>
          <th scope="col"></th>
          <th scope="col">
            <button type="submit" (click)="deleteSelected()" class="btn btn-danger btn-sm"
              [disabled]="multiSelect.isEmpty()"
              data-toggle="tooltip" data-placement="top" title="Delete selected containers">
              <fa-icon icon="times"></fa-icon>&nbsp;Deleted selected
              <span class="d-none d-md-inline"></span>
            </button>
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">container TAG</th>
          <th scope="col">packages scanned</th>
          <th scope="col" *ngIf="canDeleteSomeOrderContainers()"></th>
        </tr>
      </thead>
      <tbody>
        <tr data-cy="entityTable" *ngFor="let container of getOrderContainers()"
          (click) = "canDelete(container) && multiSelect.select(container)"
          [class.tr-selected] = 'multiSelect.isSelected(container)'>
          <td>{{ container.id }}</td>
          <td>{{ container.supplierRFIDTag }}</td>
          <td class="text-center">
            <jhi-scan-packages [container]="container"></jhi-scan-packages>
          </td>
          <td class="text-right">
            <button type="submit" (click)="openEditDialog(container)" class="btn btn-danger btn-sm"
              *ngIf="canDelete(container)"
              data-toggle="tooltip" data-placement="top" title="Delete container {{ container.id }}">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
