.reception-items {
  margin-top: 1.2em;
}

.btn-group button {
  margin-right: 0.2em;
}

.add-order-item {
  text-align: end;
}

.add-order-item .btn {
  margin-top: -5em;
  margin-right: 2em;
}

.add-order-item-form {
  margin-bottom: 1.2em;
  button {
    margin-bottom: 0.5em;
  }
}

.order-tags {
  cursor: auto !important;
}
