<div class="reception-items">
  <div class="alert alert-warning" id="no-result" *ngIf="orderItems?.length === 0">
    <span jhiTranslate="wmsApp.orderItem.home.notFound">No orderItems found</span>
  </div>

  <div class="table-responsive" *ngIf="orderItems && orderItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">
            <span jhiTranslate="wmsApp.orderItem.quantity">Unit Quantity</span>
          </th>
          <th scope="col">
            <span jhiTranslate="wmsApp.orderItem.status">Status</span>
          </th>
          <th scope="col">
            <span jhiTranslate="wmsApp.orderItem.compganyProduct">Compgany Product</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of orderItems" data-cy="entityTable">
          <td>{{ orderItem.quantity }}</td>
          <td jhiTranslate="{{ 'wmsApp.OrderItemStatus.' + orderItem.status }}">{{ orderItem.status }}</td>
          <td>
            <div *ngIf="orderItem.compganyProduct">
              <a [routerLink]="['/company-product', orderItem.compganyProduct?.id, 'view']">{{
                orderItem.compganyProduct?.sku
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/order-item', orderItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="submit"
                [routerLink]="['/order-item', orderItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(orderItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
