@use '/src/main/webapp/content/scss/my-global' as g;

.reception-items {
  margin-top: 1.2em;
}

.btn-group button {
  margin-right: 0.2em;
}

.order-tags {
  cursor: auto !important;
}

.selected-item {
  background-color: g.$tr-selected !important;
  font-weight: bold;
}