@import "~bootstrap-icons/font/bootstrap-icons.css";

$tr-selected: rgb(55 133 231 / 33%);

.table-responsive tbody tr:hover {
    background-color: $tr-selected;
    cursor: pointer;
}
  
.btn-group .btn {
    margin-right: 0.2em;
    height: 2em;
    width: 2.4em;
}

.btn-group .btn span {
    font-size: 0;
}