.table-responsive tbody tr:hover {
    background-color: rgb(55 133 231 / 33%);
    cursor: pointer;
}
  
.btn-group .btn {
    margin-right: 0.2em;
    height: 2em;
    width: 2.4em;
}

.btn-group .btn span {
    font-size: 0;
}