<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="container">
      <h2 data-cy="containerDetailsHeading"><span jhiTranslate="wmsApp.container.detail.title">Container</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ container.id }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.container.name">Name</span></dt>
        <dd>
          <span>{{ container.name }}</span>
        </dd>
        <dt><span jhiTranslate="wmsApp.container.description">Description</span></dt>
        <dd>
          <span>{{ container.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/container', container.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
